nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 5vh;
  
}

nav a {
  text-decoration: none;
  color: white;
}

.navbar ul {
  margin: 0;
  padding: 0; 
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.page {
  height: 95vh;
  padding-top: 5vh;
  margin-top: 5vh;
  
}

.banner {
  background-color: rgb(81, 81, 81);
  color: white;
}
h3, h4 {
  align-items: center;
  text-align: center;
}

.thumbnails {
  background-color: rgb(132, 132, 132);
  padding-top: 20px;
  
}

.thumbnails ul {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 300px);
  gap: 10px;
  margin: auto;
  width: 75%;
}

.thumbnails ul li {
  list-style-type: none;
  list-style: none;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  
}

img {
  border-radius: 10px;
  width: 300px;
  height: 250px;
}